.content-2 {
    padding: 0 !important;
    position: relative;
}
.content-2__ctn {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 9rem auto 0;
    padding-top: 10rem;
    padding-bottom: 6rem;
    background-color: $gradient-d-gray-blue;
    border-top-right-radius: $radius-lg;
    border-bottom-left-radius: $radius-lg;
    overflow: hidden;

    &::after {
        content: url(../images/bg-pattern-circles.svg);
        transform: scale(0.58);
        position: absolute;
        top: -21rem;
        left: -9rem;
        width: 100%;
    }
}
.content-2__img {
    width: 100%;
    position: absolute;
    bottom: 20rem;
    z-index: 30;
}
.img__iphone-img {
    width: 100%;
    max-width: 580px;
}
.desc__ctn--pop {
    position: relative;
    z-index: 30;
    padding: 0 2rem;
}
.ctn__title--bigger {
    font-size: 2rem;
}
.ctn__title--white,
.ctn__para--white {
    color: $white;
}
@media (min-width: 480px) {
    .content-2__ctn::after {
        transform: scale(0.75);
        top: -22rem;
        left: -10rem;
    }
    .content-2__img {
        bottom: 18rem;
    }
    .content-2__ctn {
        margin: 12rem auto 0;
        padding-top: 12rem;
    }
    .desc__ctn--pop {
        padding: 0 4rem;
    }
}
@media (min-width: 640px) {
    .content-2__ctn {
        padding-top: 15rem;
        &::after {
            transform: scale(0.95);
            top: -26rem;
            left: -9rem;
        }
    }
    .content-2__img {
        bottom: 17rem;
        left: 1.5rem;
    }
}
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 1281px) {
}
@media (min-width: 1536px) {
}
