@import "../components/btn";

.header {
    height: auto;
    padding: 4rem 1.8rem;
    background: linear-gradient(
        115deg,
        $gradient-vl-red 0%,
        $gradient-l-red 90%
    );
    border-bottom-left-radius: $radius-lg;
    position: relative;
    overflow: hidden;
    z-index: 10;

    // &::after {
    //     content: url(../images/bg-pattern-intro.svg);
    //     transform: scale(0.4);
    //     position: absolute;
    //     top: -59rem;
    //     left: -64rem;
    // }

    &__img {
        position: absolute;
        z-index: 20;
        top: -74rem;
        left: -80rem;
        transform: scale(0.4);
    }
}
.header__nav,
.cta__content {
    display: flex;
    flex-direction: column;
}
.nav__nav-header,
.header__cta {
    position: relative;
    z-index: 20;
}
.header__cta {
    height: auto;
    margin: 5rem 0;
}
.cta__content {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 95%;
    margin: 0 auto;
}
.cta__title,
.cta__subtitle {
    font-family: $ff-secondary;
    color: $white;
}
.cta__title {
    margin: 0;
    font-size: 2rem;
    font-weight: $fw500;
}
.cta__subtitle {
    margin: 0.5rem 0 2rem;
    font-size: 1.1rem;
    font-weight: $fw300;
}
.btn-ctn__btn {
    @extend %cta-btn;
}
.btn-ctn__btn-sff {
    @include btn($l-red, $white, $white);

    &:hover {
        @include btn($white, $vl-red, $vl-red);
    }
}
.btn-ctn__btn-lm {
    @include btn($white, transparent, $white);

    &:hover {
        @include btn($vl-red, $white, $white);
    }
}
@media (min-width: 480px) {
    .header {
        // &::after {
        //     transform: scale(0.45);
        //     left: -61rem;
        // }
        &__img {
            top: -74rem;
            left: -76rem;
            transform: scale(0.45);
        }
    }
    .cta__title {
        font-size: 2.7rem;
    }
    .cta__subtitle {
        font-size: 1.35rem;
    }
}
@media (min-width: 640px) {
    .header {
        // &::after {
        //     transform: scale(0.5);
        //     top: -62rem;
        //     left: -58rem;
        // }
        &__img {
            top: -83rem;
            left: -68rem;
        }
    }
    .cta__title {
        font-size: 3rem;
        margin: 0 3.5rem;
    }
    .cta__subtitle {
        margin: 0.5rem 6.5rem 2rem;
    }
}
@media (min-width: 768px) {
    .header {
        // &::after {
        //     transform: scale(0.55);
        //     top: -63rem;
        //     left: -55rem;
        // }
        &__img {
            top: -81rem;
            left: -62rem;
            transform: scale(0.6);
        }
    }
    .cta__title {
        font-size: 3.1rem;
        margin: 0 6.5rem;
    }
    .cta__subtitle {
        margin: 0.5rem 9.5rem 2rem;
    }
}
@media (min-width: 1024px) {
    .header {
        padding: 4rem 6rem;

        // &::after {
        //     transform: scale(0.9);
        //     top: -68rem;
        //     left: -31rem;
        // }
        &__img {
            top: -85rem;
            left: -47rem;
            transform: scale(0.8);
        }
    }
    .header__nav {
        flex-direction: row;
    }
    .cta__title {
        margin: 0 3rem;
    }
    .cta__subtitle {
        font-size: 1.1rem;
    }
}
@media (min-width: 1281px) {
    .header {
        padding: 4rem 8rem;

        // &::after {
        //     transform: scale(1);
        //     left: -20rem;
        //     top: -66rem;
        // }
        &__img {
            top: -84rem;
            left: -34rem;
            transform: scale(0.9);
        }
    }
    .cta__title {
        font-size: 3.4rem;
    }
    .cta__subtitle {
        font-size: 1.2rem;
    }
}
@media (min-width: 1536px) {
    .header {
        padding: 4rem 9rem;

        // &::after {
        //     transform: scale(1.2);
        //     top: -65rem;
        //     left: -11rem;
        // }
        &__img {
            top: -83rem;
            left: -22rem;
            transform: scale(1.1);
        }
    }
    .nav__nav-header {
        width: 13%;
    }
    .cta__title {
        font-size: 4rem;
    }
    .cta__subtitle {
        font-size: 1.4rem;
    }
    .nav-opt__login-ctn {
        width: 30%;
    }
}
