@import "./config/variables";
@import "./layout/header";
@import "./layout/nav";
@import "./layout/content-1";
@import "./layout/content-2";

body {
    font-family: $ff-primary;
    font-size: $f-size;
    background-color: $white;
    color: $vd-gray-blue;
    line-height: $space-sm;
}
a {
    text-decoration: none;
    color: $white;
}
.header,
.section {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
}
.section {
    padding: 4rem 1rem;
}
// !--- MEDIA QUERIES ---
// <= than 320px
@media screen and (max-width: 20rem) {
}
// mobile view >=480px
@media screen and (min-width: 30rem) {
}
// tablet view
@media (min-width: 640px) {
    .section {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}
// tablet / small monitor view >=768px
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
    .section {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}
// laptop view >=1281px (mobile to desktop breakpoint)
@media (min-width: 1281px) {
    .section {
        padding-left: 6rem;
        padding-right: 6rem;
    }
    body {
        font-size: $f-size + 2px;
    }
}
// desktop view
@media (min-width: 1536px) {
    .section {
        padding: 6rem 9rem;
    }
}
